* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Poppins", sans-serif;
}

#quote-box {
    background-color: #FFF4F4;
    max-width: 600px;
    max-height: 900px;
    margin: 100px auto 10px;  /* horizontally centered */
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    z-index: 100;
}

div #text {
    max-height: 400px;
    overflow: auto;
}

#text {
    font-size: 25px;
    padding: 30px 30px 10px 30px;
    text-align: center;
    line-height: 2.5rem;
    
}

#author {
    font-size: 16px;
    padding: 0px 30px 10px 0px;
    text-align: right;
    
}


footer {
    text-align: center;
    color: white;
    font-size: 12px;
}


/* Button */
.button-container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    margin: 30px;
}


#new-quote {
    border-radius: 5px;
    padding: 10px;
    width: 100px;
    color: white;
    border: none;
    transition: all 1s ease;
    font-size: 16px;
    cursor: pointer;
}

#new-quote:active {
    transform: scale(0.9); /* button scales down when active (i.e., being clicked) */
}

/* Icons */

#twitter-icon,
#tweet-quote {
    display: inline-block;
    width: 50px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    text-align: center;
}

.quote-mark {
    font-size: 30px; /* or any size you want */
}